In [32]:
import pandas as pd
import altair as alt
import datetime
import numpy as np

In [2]:
! ls "../../../../Outcome Measurement Data/TUBERCULOSIS/muestras inadecuadas/"

'Copia de informacion solicitada FM.xlsx'
 das_muestras_inadc_2016-2018.csv
'das - muestras incd, baciloscopias-A.png'
'das - muestras incd, baciloscopias-A.svg'
'das - muestras incd, baciloscopias-B.png'
'das - muestras incd, baciloscopias-B.svg'
'das - muestras incd, baciloscopias.svg.png'
 das_muestras_indc_2016-2018.csv
'Herramienta de Muestreo.xlsx'
 LIBROLA2.REC
'Libro laboratorio Reu.xlsx'
'Libro Laboratorio.xlsx'
 LIBROLAB.REC
 mapa-muestras-2017-munis.png
 mapa-muestras-2017-munis.svg
'Muestras inadecuadas  por DAS y distrito.xlsx'
 p_muestras_inadecuadas_2017.csv

In [4]:
data = pd.read_excel("../../../../Outcome Measurement Data/TUBERCULOSIS/muestras inadecuadas/Libro Laboratorio.xlsx")

In [5]:
data.columns

Index(['REGISTRONO', 'AREADESALU', 'MUNICIPIO', 'SERVICIODE', 'FECHADEREC',
       'MESREGISTR', 'AÃ‘OREGISTR', 'FECHADER01', 'NODESERIED', 'NODECORREL',
       'SEXOFEMENI', 'FECHADENAC', 'AREA', 'DISTRITO', 'SERVICIO',
       'NUMERODESE', 'CALIDADDEM', 'FECHADEMUE', 'LAMINA', 'RESULTADOP',
       'CALIDADD01', 'FECHADEM01', 'LAMINA01', 'RESULTAD01', 'CALIDADD02',
       'FECHADEM02', 'LAMINA02', 'RESULTAD02', 'FECHADEM03', 'LAMINA03', 'NO',
       'RESULTAD03', 'FECHADERES', 'H', 'R', 'E', 'Z', 'S', 'Q', 'OTRO',
       'FECHADEM04', 'TIPODEPRUE', 'RESULTAD04', 'FECHADER02'],
      dtype='object')

In [6]:
data.SERVICIODE.value_counts()

2    1455
1     541
Name: SERVICIODE, dtype: int64

In [48]:
data["EDAD"] = data.FECHADENAC.map(lambda x: - (x - datetime.datetime.now()).days / 365).map(lambda x: int(x) if x>0 else np.NaN)

In [57]:
data["EDADRANGO"] = data.EDAD.map(lambda x: 1 if x<15 else 2 if x<30 else 3 if x < 45 else 4 if x > 0 else np.NaN)

In [58]:
data.EDADRANGO.value_counts(dropna=False)

NaN    910
4.0    510
3.0    270
2.0    228
1.0     78
Name: EDADRANGO, dtype: int64

In [65]:
data.CALIDADDEM.value_counts(dropna=False), data.CALIDADD01.value_counts(dropna=False), data.CALIDADD02.value_counts(dropna=False)

(1    929
 9    562
 3    447
 2     35
 4     15
 7      5
 6      2
 5      1
 Name: CALIDADDEM, dtype: int64, 9    855
 1    814
 3    304
 2     21
 4      2
 Name: CALIDADD01, dtype: int64, 9    1153
 1     615
 3     208
 2      19
 4       1
 Name: CALIDADD02, dtype: int64)